<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Votación</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Resultados de Votación</h1>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Código Mesa</th>
                    <th>Descripción</th>
                    <th>Nombre País</th>
                    <th>Nombre Departamento</th>
                    <th>Nombre Municipio</th>
                    <th>Nombre Recinto</th>
                    <th>Votos Emitidos</th>
                    <th>Ruta Imagen</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[13] }}</td>
                    <td>{{ row[25] }}</td>
                    <td>
                        {% if row[24] %}
                        <a href="{{ row[24] }}" target="_blank">Ver Imagen</a>
                        {% else %}
                        Sin Imagen
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
